.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.inline-table {
  display: inline-table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.none {
  display: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.width100 {
  width: 100%; }

.height100 {
  height: 100%; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.light {
  font-weight: 200; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pointer {
  cursor: pointer; }

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html, body {
  margin: 0; }

body {
  display: table;
  min-height: 100vh;
  width: 100%; }

main {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

#caller {
  margin: 0 auto;
  font-size: 1.33em;
  letter-spacing: 0.1em;
  padding: 0.33em 0.66em;
  background: lightgrey;
  border-radius: 3px;
  border: 1px solid black; }

#map {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  vertical-align: middle; }
