@import './global';

html, body {
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
}
#caller {
  margin: 0 auto;
  font-size: 1.33em;
  letter-spacing: 0.1em;
  padding: 0.33em 0.66em;
  background: lightgrey;
  border-radius: 3px;
  border: 1px solid black;
}

#map {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  vertical-align: middle;
}

@import './Console'
